* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

body {
	justify-content: center;
	align-items: center;
    font-family: "Lato", sans-serif;
    display: flex;
}

header {
    background-color: rgb(234, 234, 234);
    height: 70px;
    flex-shrink: 0;
    display: flex;
}

header .content-head {
    display: flex;
}

li {
    display: flex;
}

input {
    width: 20%;
}

.logo-side {
    display: none;
}

.conversation {
    height: calc(100% - 140px);
    overflow-y: auto;
}

.conversation li {
    width: 66%;
}

.conversation li.right-green{
    background-color: rgb(212, 249, 187);
    border-radius: 10px;
    margin-top: 25px;
    margin-left: 130px;
    margin-bottom: 10px;
    padding: 15px;
}

.conversation li.left-white{
    background-color: white;
    border-radius: 10px;
    margin-left: 20px;
    margin-bottom: 368px;
    padding: 15px;
}

.conversation li .symbol {
    color: lightgray;
    font-size: 30px;
    position: absolute;
    margin-left: 270px;
    margin-top: -20px;
}

.conversation li .hour {
    font-size: 10px;
    margin-top: 130px;
    margin-right: -10px;
    margin-bottom: -20px;
    color: lightgray;
}

footer input {
    width: 90%;
    height: 50px;
    margin: auto 20px;
    margin-top: 10px;
    border-radius: 5px;
    border-color: transparent;
}

footer input::placeholder {
    padding: 10px;
}

footer.message {
    height: 70px;
    background-color: rgb(234, 234, 234);
    flex-shrink: 0;
}

.container {
    background-color: rgb(234, 234, 234);
    width: 100%;
    display: flex;
}

.sidebar {
    display: none;
}

.content {
    flex-grow: 1;
    background-image: url(img/mine.jpg);
}

.content header img {
    width: 17%;
    height: 70%;
    border-radius: 100px;
    margin-left: 20px;
    margin-top: 10px;

}

.content header h2 {
    font-size: 17px;
    margin-left: 20px;
    margin-top: 17px;
}

.content header p {
    width: 100%;
    color: gray;
    margin-left: 20px;
}

.logo-div {
    display: none;
}

.smile {
    display: none;
}

.microphone {
    display: none;
}

@media screen and (min-width: 576px) {
    .sidebar img {
        width: 15%;
        border-radius: 100px;
        height: 70%;
        margin-top: 10px;
        margin-left: 10px;
        margin-bottom: 10px;
    }

    .sidebar {
        margin-right: -310px;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        border-right: 1px solid lightgray;
        background-color: white;
    }

    .chats {
        overflow-y: auto;
    }

    .chats li {
        border: 1px solid;
        border-color: rgb(243, 243, 243);
    }

    .chats img {
        width: 13%;
    }

    .info {
        display: none;
    }

    .notification {
        display: none;
    }

    .search {
        display: none;
    }

    .logo-div {
        display: block;
        margin-left: 250px;
    }

    header img.glass {
        width: 13%;
    }

    header img.clip {
        width: 12%;
    }

    header img.ellipsis {
        width: 4%;
    }

    .content-head {
        border-left: 1px solid;
        border-color: lightgray;
    }

    .content header p {
        margin-right: 200px;
    }

    .conversation li.left-white{
        margin-bottom: 370px;
    }

    .content-head .mike {
        width: 6%;
    }

    .message {
        display: flex;
    }

    .smile {
        display: block;
        width: 2%;
        margin-left: 25px;
        margin-right: 5px;
    }

    .microphone {
        display: block;
        width: 2%;
        margin-left: 5px;
    }

    footer input {
        width: 780px;
    }

    .conversation li {
        width: 50%;
    }

    .conversation li.right-green {
        margin-left: 400px;
    }

    .conversation li .symbol {
        margin-left: 400px;
    }

    .conversation li .hour {
        margin-bottom: -10px;
    }
}

@media screen and (min-width: 992px) {
    body {
        height: 100vh;
        background: linear-gradient(
        to bottom, 
        rgb(0, 150, 136) 0%,
        rgb(0, 150, 136) 10%,
        rgb(220, 219, 209) 0%,
        rgb(220, 219, 209) 90%
        );
    }

    .container {
        width: 80%;
        height: 90%;
        margin: auto;
    }

    .sidebar {
        width: 350px;
        margin-right: 0;
    }

    .notification {
        display: flex;
        background-color: rgb(143, 218, 252);
        padding-bottom: 5px;
    }

    .notification img {
        width: 15%;
        height: 80%;
        padding: 10px;
        background-color: white;
        margin-right: 20px;
    }

    .notification h2 {
        font-size: 15px;
        margin-top: 20px;
    }

    .notification p {
        font-size: 12px;
        color: gray;
        text-decoration: underline;
    }

    .search {
        display: flex;
    }

    .search img {
        width: 1%;
        position: absolute;
        margin-top: -279px;
        margin-left: 30px;
    }

    .search input {
        width: 330px;
        padding: 7px;
        margin: 10px;
    }

    .search input::placeholder {
        padding: 10px;
        padding-left: 50px;
    }

    .logo-side {
        display: block;
        margin-left: 160px;
    }

    footer input {
        width: 570px;
    }

    .conversation li {
        width: 70%;
    }

    .conversation li.right-green {
        margin-left: 150px;
    }

    .conversation li.left-white{
        margin-bottom: 0px;
    }

    .conversation li .symbol {
        margin-left: 450px;
    }

    .info {
        display: block;
    }

    .info h2 {
        font-size: 17px;
        margin-top: 15px;
        margin-left: 20px;
    }

    .info p {
        color: lightgray;
        font-size: 14px;
        margin-left: 20px;
    }

    .info.hour {
        color: lightgray;
        font-size: 12px;
        margin-top: 10px;
        margin-left: 50px;
    }

    .chats li {
        height: 80px;
    }
}